.transactions-monitor {
  max-width: 120rem;
  margin: 20vh auto;
  text-align: center;
}

.transactions-monitor > h1 {
  font-size: 4.5rem;
  color: var(--color-primary);
  line-height: 1;
  margin-bottom: 3rem;
}

.control-buttons {
  display: flex;
  gap: 1.5rem;
  justify-content: space-evenly;
  margin-bottom: 3rem;
}
